.bookings-show {
  margin: 20px;

  .row {
    margin: 5px 0 0 0;
    div {
      display: inline-block;
      vertical-align: middle;
    }

    .left {
      width: 200px;
      float: left;
    }

    .right {
      font-weight: bold;
      overflow: hidden;
      width: 600px;
    }

    button {
      border: none;
      border-radius: none;
    }

    button.watch {
      background: darkgreen;
      color: white;
    }

    button.unwatch {
      background: darkred;
      color: white;
    }
  }
}